/* =========================================================
MENU
========================================================= */

.menu{
    max-width: 1200px;
    width: calc(100% - 20px); /* chừa mép 2 bên */
    margin: 10px auto 0 auto;
    border-radius: 6px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background:
    linear-gradient(
    rgba(255, 255, 255, 0.586),
    rgba(255, 255, 255, 0.538)
    ),
    url("https://vuthanhcong77.github.io/quanlybaivietvtc/tai-nguyen/anh-bia/bia2.jpg");
    box-shadow: 0 2px 15px rgba(0,0,0,.08);
}

.menu-top{

    height:60px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 15px;

}

.logo{

    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    color:#0f172a;

    font-weight:700;

}

.logo img{

    width:40px;

    height:40px;

    border-radius:50%;

}

.nut-menu{

    border:none;

    background:#cee407;
    font-size:1.6rem;

    cursor:pointer;

}


/* =========================================================
OVERLAY
========================================================= */

.menu-overlay{

    position:fixed;

    inset:0;

    background:
    rgba(0,0,0,.4);

    opacity:0;

    visibility:hidden;

    transition:.3s;

}

.menu-overlay.active{

    opacity:1;

    visibility:visible;

}


/* =========================================================
DRAWER
========================================================= */

.menu-drawer{

    position:fixed;

    top:0;

    left:-320px;

    width:300px;

    height:100vh;

    background:#fff;

    transition:.3s;

    overflow-y:auto;

    box-shadow:
    5px 0 20px
    rgba(0,0,0,.15);

}

.menu-drawer.active{

    left:0;

}

.drawer-header{

    height:60px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 15px;

    border-bottom:
    1px solid #fff;

}

.nut-dong{

    border:none;

    background:none;

    font-size:1.3rem;

    cursor:pointer;

}

.drawer-body{

    padding:10px;

}

.drawer-body a{

    display:block;

    padding:14px;

    margin-bottom:4px;

    text-decoration:none;

    color:#334155;

    border-radius:10px;

}

.drawer-body a:hover{

    background:#f1f5f9;

}

.tieu-de-menu{

    padding:15px 14px;

    font-size:.9rem;

    font-weight:700;

    text-transform:uppercase;

    color:#64748b;

}
