.subscribe-btn{
    padding:10px 18px;
    border:none;
    border-radius:20px;
    background:#23db0a;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.25s;
}

.subscribe-btn:hover{
    background:#b71c1c;
    transform:translateY(-2px);
}

.subscribe-btn:active{
    transform:scale(.96);
}
